<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8"/>
<title>Volunteer Scheduler</title>
</head>
<body>
  <div id="about">

    <h1>About Us</h1>
    <hr/>
    <br/>
    <br/>
    <br/>

    Welcome to the Volunteer Scheduler. This is an application in which you
    can find volunteer organization to volunteer for. We are a software engineering
  of 5 total people that have worked on this application. The purpose that came
  behind this project was to bring together volunteer and volunteer organizations.
  This website application is trying to remove any middle men needed in the process.
  If you don't have an account sign up <a href="Sign-up.html">here</a>. If you do have an account you may also
  login <a href="Login.html">here</a>.
  <br/>
  <br/>
  <a href="home.html" th:action="@{/home}">Home</a>
  <br/>
  <a href="Login.html" th:action="@{/Login}">Login</a>
  <br/>
  <a href="CreateUser.html" th:action="@{/CreateUser}">Sign Up</a>


</div>
  </body>
  </html>
