<html>
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
<link rel="stylesheet" type="text/css" href="styler.css"/>
</head>
<body>
    <div id="header">
        <h1>Sign-Up</h1>
    <hr/>

    <form id="createUser" th:action="@{/users/create}">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="firstName"/></td>
            </tr>

            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="lastName"/></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input type="date" name="dob"/></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" name="email" th:action = "@{/users/get/email/{email}}"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" th:action = "@{/users/get/username/{username}}"/></td>
            </tr>

            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td><input id="createUserSubmitButton" type="submit" name="submit" value="Submit" th:action="home"/></td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>
