<html>
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
</head>
<link rel="stylesheet" type="text/css" href="styler.css"/>
<body>
    <div id="header">
        <h1>Sign-Up</h1>
    </div>

    <hr/>

    <form id="createUser" method="post" th:action="@{/users/create}">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="firstName"/></td>
            </tr>

            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="lastName"/></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input type="date" name="dob"/></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"/></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" name="state"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" name="city"/></td>
            </tr>
            <tr>
                <td>Zip Code:</td>
                <td><input type="number" name="zip"/></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="tel" name="number"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username"/></td>
            </tr>

            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>

            <!--<tr>
                <td>confirm password:</td>
                <td><input type="password" name="passwordConfirm"/></td>
            </tr>-->

            <tr>
                <td><input id="createUserSubmitButton" type="submit" name="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>
