<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8"/>
<title>Volunteer Scheduler</title>
</head>
<body>
  <div id="home">

  <h1 style="text-align:center">Volunteer Scheduler</h1>
  <hr/>
  <br/>
  Welcome to the Volunteer Scheduler. This is an application in which you
  can find volunteer organization to volunteer for.

  <br/>
      <iframe src="https://calendar.google.com/calendar/embed?src=coqra43gjp7pmbd2jmn9jhj3dg%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  <br/>
  <a th:href="about.html" th:action="@{/about}">About</a>
  <br/>
  <a th:href="Login.html" th:action="@{/Login}">Login</a>
  <br/>
  <a th:href="CreateUser.html" th:action="@{/CreateUser}">Sign Up</a>
</div>
</body>
</html>
