<!DOCTYPE html>
<html>
<head>
<title>Volunteer Scheduler</title>
    <link rel="stylesheet" type="text/css" href="styler.css"/>
</head>
<body>
<div id="home">
<h1>Volunteer Scheduler</h1>
<hr/>
<br/>
<br/>
<br/>

Welcome to the Volunteer Scheduler. This is an application in which you
can find volunteer organization to volunteer for.
<br/>


  <!--<a href="about.html" th:action="@{/about}">About</a>-->
  <!--<br/>-->
  <!--<a href="Login.html" th:action="@{/Login}">Login</a>-->
  <!--<br/>-->
  <!--<a href="CreateUser.html" th:action="@{/CreateUser}">Sign Up</a>-->
  <!--<br/>-->
  <!--<a href="Event.html" th:action="@{/CreateEvent}">Event</a>-->
  <br/>
</div>
  <br/>
  <br/>
  <ul>
    <li>Event Placeholders</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>

</body>
</html>
