<!DOCTYPE html>
<html>
<head>
  <title>Volunteer Scheduler</title>
  <link rel="stylesheet" type="text/css" href="styler.css"/>
  <style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
</head>
<body>
<div id="home">
  <h1>Volunteer Scheduler</h1>
  <hr/>
  <br/>
  <br/>
  <br/>

  Welcome to the Volunteer Scheduler. This is an application in which you
  can find volunteer organization to volunteer for.
  <br/>


  <a th:href="about.html" th:action="@{/about}">About</a>
  <br/>
  <a th:href="Login.html" th:action="@{/Login}">Login</a>
  <br/>
  <a th:href="CreateUser.html" th:action="@{/CreateUser}">Sign Up</a>
  <br/>
  <a th:href="Event.html" th:action="@{/Event}">Event</a>
  <br/>
  <br/>
  <br/>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="event : ${eventList}">
      <td th:text="${event.Name}"></td>
      <td th:text="${event.description}"></td>
      <td th:text="${event.address}"></td>
      <td th:text="${event.city}"></td>
      <td th:text="${event.state}"></td>
      <td th:text="${event.zip}"></td>
      <td th:text="${event.date}"></td>
      <td th:text="${event.start}"></td>
      <td th:text="${event.end}"></td>
      <td th:text="${event.email}"></td>
    </tr>
    </tbody>
  </table>
<br/>

</div>


</body>
</html>